*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.button{
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    padding-right: 20px;
}
.button:hover{
    background-color:whitesmoke;
}